@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
body2{
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow:hidden;
  margin: 0;
  /* background-color: #151e3d; */
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display:contents;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

nav{
  background: midnightblue;
  
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.dropdown_menu{
  display: block;
  position: absolute;
  left:0;
  top:100%;
  background-color:var(--color-black);
}
.dropdown_menu ul{
  position: absolute;
  display: block;
  margin:10px;
}
.dropdown_menu ul li{
 width: 150px;
 padding:10px;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}
label.logo{
  color:white;
  font-size: 35px;
  display: flex;
  line-height: 80px;
  padding:0 100px;
  font-weight: bold;
}
.container {
  display:flex;
  width: 90vw;
  flex-wrap: nowrap;
}
.panel {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position:relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 26px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
  margin: 0;
  opacity: 0;
  display: inline;
  background-color: rgba(129, 129, 129, 0.699);
  border-radius: 5px;
  background-position:inline;
}
.panel h4 {
  font-size: 36px;
  position:absolute;
  left: 20px;
  right: 20px;
  margin-top: 20px;
  bottom:50px;
  display: inline;
  opacity: 0;
  background-color: midnightblue;
  background-color: rgba(35, 48, 240, 0.699);
  border-radius: 5px;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.panel.active h4 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}